*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# ExportedPlugins
!*/ExportedPlugins/**/*.jar

# Eclipse
.metadata/*
*/bin/*

# Xtext
!*/src-gen/**/*.java
*/src-gen/**/*.java._trace
*/src-gen/**/*.xtendbin
*/src-gen/**/*.xtextbin
*/xtend-gen/**/*.xtendbin
*/xtend-gen/**/*.xtextbin
!*/xtend-gen/**/*.java
*/xtend-gen/**/*.java._trace

# Simulation
*/data/Benchmarks/*
*/data/ReactionContainerModels/*
*/data/ReactionRuleModels/*.xmi
*/data/ViatraPatternModels/*
!*/libs/*.jar

!.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
