<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="manual.queries.QueryTest" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:manual.queries.QueryTest" id="manual.queries.QueryTest">
      <query-specification fqn="manual.queries.testR1"/>
      <query-specification fqn="manual.queries.testR1a"/>
      <query-specification fqn="manual.queries.testR2"/>
      <query-specification fqn="manual.queries.testR2a"/>
      <query-specification fqn="manual.queries.testR2b"/>
    </group>
  </extension>
  <extension id="patterngenerator.GeneratedQueryTest" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:patterngenerator.GeneratedQueryTest" id="patterngenerator.GeneratedQueryTest">
      <query-specification fqn="patterngenerator.AtoB_lhs"/>
      <query-specification fqn="patterngenerator.AtoB_rhs"/>
      <query-specification fqn="patterngenerator.AtoNull_lhs"/>
      <query-specification fqn="patterngenerator.CtoNull_lhs"/>
      <query-specification fqn="patterngenerator.CtoNull2_lhs"/>
      <query-specification fqn="patterngenerator.AExact_lhs"/>
    </group>
  </extension>
</plugin>
