<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated reactioncontainer -->
      <package
            uri="http://www.reactioncontainer.biochemsimulation.org/reactioncontainer"
            class="biochemsimulation.reactioncontainer.ReactionContainerPackage"
            genModel="model/reactioncontainer.genmodel"/>
   </extension>

</plugin>
