/.QueryTest.java._trace
/.TestR1Match.java._trace
/.TestR1Matcher.java._trace
/.TestR1aMatch.java._trace
/.TestR1aMatcher.java._trace
/.TestR1bMatch.java._trace
/.TestR1bMatcher.java._trace
/TestR1Match.java
/TestR1Matcher.java
/TestR1aMatch.java
/TestR1aMatcher.java
/QueryTest.java
/TestR1bMatch.java
/TestR1bMatcher.java
