<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="org.simsg.build.SimSGBuilder" name="SimSG Builder" point="org.eclipse.core.resources.builders">
        <builder isConfigurable="true">
            <run class="org.simsg.build.SimSGBuilder"/>
        </builder>
    </extension>
</plugin>
