/.Test1Processor.java._trace
/.Test1QuerySpecification.java._trace
/.Test2Processor.java._trace
/.Test2QuerySpecification.java._trace
/.Test3Processor.java._trace
/.Test3QuerySpecification.java._trace
