<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComputerNetwork -->
      <package
            uri="http://www.simsg.org/examples/ComputerNetwork"
            class="org.simsg.examples.network.ComputerNetwork.ComputerNetworkPackage"
            genModel="model/ComputerNetwork.genmodel"/>
   </extension>

</plugin>
